<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Mosiac.UX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=dbserver;Initial Catalog=Mosaic;Integrated Security=True" />
  <add name="Mosiac.UX.Properties.Settings.MosiacConnection" connectionString="Data Source=dbserver;Initial Catalog=Mosaic;Integrated Security=True;Trust Server Certificate=true"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <Mosiac.UX.Properties.Settings>
   <setting name="CacheLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="SaveUserName" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="PrintSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="LastJobSearched" serializeAs="String">
    <value />
   </setting>
  </Mosiac.UX.Properties.Settings>
 </userSettings>
</configuration>